@import url("https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Young+Serif&display=swap");

:root {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url(../assets/ice.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 75vh;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header nav {
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.first {
  display: flex;
  align-items: center;
}

.first h1 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
}

.menu {
  margin-left: 50px;
}

.menu,
header nav ul {
  display: inline-flex;
  align-items: center;
}

.menu li,
header nav ul li {
  padding: 5px 7px;
  margin: 0 3px;
  list-style-type: none;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

header nav ul li {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: 0.5s ease-in-out;
  transition-timing-function: ease-in;
  position: relative;
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #a8dadc, #a8dadc, 50%, #ffffff 0);
  background-size: 200% 100%;
  background-position: 100%;
  position: relative;
  transition: 0.8s;
  &:hover {
    background-position: 0;
    color: #a8dadc;
  }
}

header nav ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #a8dadc;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.7s ease-in-out;
}

header nav ul li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

header nav ul li.active {
  background-position: 0; /* This will show the gradient immediately */
  color: #a8dadc; /* Set the text color for the active item */
}

header nav ul li.active::before {
  transform-origin: left; /* This will make the underline visible */
  transform: scaleX(1);
}

header nav ul li ion-icon {
  margin-right: 5px;
  color: light;
  font-size: 18px;
}

.open-menu,
.close-menu {
  position: absolute;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 28px;
  right: 9px;
  font-size: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 11px;
  right: 9px;
}

#check {
  display: none;
}

.landing {
  height: 90%;
  display: flex;
  width: 70%;
  color: #fff;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  position: relative;
}

.landing h1 {
  font-size: 4em;
  line-height: normal;
  font-weight: bold;
}

.landing p {
  font-size: 14px;
}

.landing button {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: fit-content;
  margin: 0 auto;
  padding: 13px 35px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  z-index: 1;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #a8dadc;
  transition: left 0.8s cubic-bezier(0, 0, 0.23, 1);
  z-index: -1;
}

button:hover::before {
  left: 0; /* Move the background color from left to right */
}

button:hover {
  color: #fff; /* Change the text color on hover */
}

.landing button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #3b93ff;
  transition: left 0.8s cubic-bezier(0, 0, 0.23, 1);
  z-index: -2;
}

.landing button:hover::before {
  left: 0; /* Move the background color from left to right */
}

.landing button:hover {
  color: #ece2e2; /* Change the text color on hover */
}

main {
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}

main h1 {
  font-size: 34px;
  margin: 30px 0 30px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.my-product-box {
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}

.my-product-box > div {
  height: 100%;
  box-sizing: border-box;
}

.my-product-box .product-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 0;
  width: 55%;
}

.my-product-box .product-nav .desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.my-product-box .product-nav .desktop li {
  background-color: #f2f2f2;
  height: 125px;
  width: 125px;
  border-radius: 10px;
  background-position: center;
  background-size: 110px;
  background-repeat: no-repeat;
  transition: 300ms;
}

.my-product-box .product-nav .desktop li:hover {
  cursor: pointer;
  background-color: #b7b7b7;
}

#img-box1 {
  background-image: url(../assets/blackhoodie.png);
}

#img-box2 {
  background-image: url(../assets/greyhoodie.png);
}

#img-box3 {
  background-image: url(../assets/bluehoodie.png);
}

#img-box4 {
  background-image: url(../assets/camohoodie.png);
}

#product-image {
  background-image: url(../assets/blackhoodie.png);
  transition: 500ms;
  width: 80%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.product-info {
  padding: 10px 0;
  width: 43%;
}

.product-info .title h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.product-info .title p {
  font-size: 10px;
  color: #8d8d8d;
}

.product-info .title h2 {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 30px;
  font-family: "Abel", sans-serif;
  margin-top: 20px;
}

.product-info .title h2 del {
  color: #8d8d8d;
}

.product-info .title h2 button {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 10px;
  margin-left: 10px;
  padding: 3px 10px;
  border-radius: 5px;
}

.product-info .title ul {
  margin-top: 20px;
  display: inline-flex;
  box-sizing: border-box;
}

.product-info .title > ul li {
  padding: 1px;
  margin: 0 2px;
  font-size: 15px;
}

.product-info .title ul li ion-icon {
  font-size: 18px;
}

.product-info .desc h1 {
  font-weight: bold;
  margin: 15px 0;
  font-size: 13px;
}

.product-info .desc p {
  font-weight: 300;
  width: 80%;
}

#more {
  display: none;
}

#morebtn {
  background-color: transparent;
  color: #8d8d8d;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  padding: 0;
}

#dots {
  color: #8d8d8d;
}

#morebtn:focus {
  outline: none;
}

.product-info .info h1 {
  font-weight: bold;
  margin: 15px 0;
  font-size: 13px;
}

.colors {
  display: flex;
  align-items: center;
}

.colors li {
  padding: 3px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.colors li button {
  background-color: #000;
  width: 25px;
  border: none;
  height: 25px;
  border-radius: 5px;
}

#grey {
  background-color: #62645e;
}

#blue {
  background-color: #2d4773;
}

.size {
  display: flex;
  align-items: center;
}

.size li {
  width: 25px;
  font-weight: 200;
  height: 25px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin-right: 10px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  transition: 400ms;
}

#selected {
  background-color: #000;
  color: #fff;
}

#xl {
  background-color: transparent;
  border: 1px solid #b7b7b7;
}

.size li:hover,
#xl:hover,
#selected:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 1165px) {
  .my-product-box {
    height: auto;
  }
  #product-image {
    width: 75%;
    height: 81vh;
    margin-bottom: 10px;
  }
  .my-product-box .product-nav .desktop li {
    height: 16vh;
    width: 115px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .product-info .desc p {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .my-product-box {
    height: auto;
  }
  #product-image {
    width: 70%;
    height: 68vh;
    margin-bottom: 10px;
    background-size: contain;
  }
  .my-product-box .product-nav .desktop li {
    height: 16vh;
    width: 115px;
    margin-bottom: 10px;
    background-position: center;
    background-size: contain;
  }
}

@media (max-width: 850px) {
  #search,
  #cart {
    display: none;
  }
  .menu {
    margin-left: 20px;
  }
  #product-image {
    width: 65%;
    height: 68vh;
    margin-bottom: 10px;
    background-size: contain;
  }
}

@media (max-width: 700px) {
  header {
    padding: 10px 10px;
  }
  header nav .menu {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 20;
    background-color: #1d3557;
    background-position: center;
    color: #b9e9eb;
    box-shadow: -1px 2px 10px #000000;
    transition: all 0.2s ease-in-out;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 30px;
  }
  .menu li {
    margin: 20px 0;
    padding: 5px;
  }
  header nav ul li:nth-last-child(2) {
    margin-right: 30px;
  }
  header nav ul li {
    margin: 0;
    padding: 5px;
  }
  .open-menu,
  .close-menu {
    display: block;
    font-size: 23px;
  }
  .close-menu {
    font-size: 25px;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  #login-desk {
    display: none;
  }
  #login-mob {
    display: inherit;
  }
  #search,
  #cart {
    display: inherit;
  }
  .landing h1 {
    font-size: 3.2em;
  }
  .my-product-box {
    height: auto;
  }
  .my-product-box .product-nav {
    width: 100%;
    display: block;
  }
  #product-image {
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
  }
  .product-info {
    width: 100%;
  }
  .my-product-box .product-nav .desktop {
    display: none;
  }
  .my-product-box .product-nav .mobile {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  .my-product-box .product-nav .mobile li {
    background-color: #f2f2f2;
    height: 100px;
    width: 24%;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 300ms;
  }

  .my-product-box .product-nav .mobile li:hover {
    cursor: pointer;
    background-color: #b7b7b7;
  }
  .product-info .desc p {
    width: 100%;
  }

  .products-box .products {
    width: 49%;
  }
}

@media (max-width: 450px) {
  #search,
  #cart {
    display: none;
  }
  .products-box .products {
    width: 100%;
  }
  .landing {
    width: 90%;
  }
}
